[Desktop Entry]
Name=HubicGTK
GenericName=Network Storage
Comment=hubiC is an online storage platform provided by OVH. This is a status icon for it.
Name[fr]=HubicGTK
Name[en_US]=HubicGTK
GenericName[fr]=Stockage réseau
GenericName[en_US]=Network Storage
Comment[fr]=hubiC est une plateforme de stockage en ligne créée par OVH. Cette application fournit une icône de statut pour ce service.
Comment[en_US]=hubiC is an online storage platform provided by OVH. This is a status icon for it.
Exec=hubic-gtk
Icon=hubic-gtk
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
